.register{
    background-color: white;
    border: 2px solid rgb(42,124,111);
    border-radius: 5px;
    width: 40%;
    height: 87vh;
    margin-left: 30%;
    margin-top: 3%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.register h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1.5%;
}

.registerText{
    font-size: 17px;
    text-align: center;
    margin-bottom: 3%;
}

